<div>
    <span class="h4">Death star destroyed a new planet</span><br/>
    <div class="death-star-container">
        <% if(planet !== null){ %>
            <% if(typeof planet.image !== 'undefined'){ %>
                <% var img = "data:image/jpeg;base64,"+planet.image %>
                <img class="planet-img" src=<%= img %> />
            <% } %>
            <div>
                <p><span class="h3">Name: <%= planet.name %></span></p>
                <p><span class="h5">Region: <%= planet.region %></span></p>
                <p><span class="h5">Sector: <%= planet.sector %></span></p>
                <p><span class="h5">Moons: <%= planet.moons %></span></p>
            </div>
        <% } %>
        <% if (error !== null){ %>
            <div class="alert alert-danger" role="aler"><%= error %></div>
        <% } %>
    </div>
</div>